body {
    background: #303030;
    padding-bottom: 70px;
}

@media(max-width: 300px){
    body {
        padding-bottom: 117px;
    }
}

.jumbotron {
    background: #505050;
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
}
